* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
  background: url('https://cdn.spacetelescope.org/archives/images/publicationjpg/heic1608a.jpg') fixed;
  background-size: cover;
}

main {
  text-align: center;
}

h2, p, h1, h3, ul {
  margin: 0;
  text-shadow: 5px 5px 8px black;
}

h1 {
  padding-bottom: 20px;
  margin-top: 100px;
  font-size: 11vw;
}

h2 {
  font-size: 35px;
  margin-top: 30px;
  padding: 10px;
  color: white;
}

h3 {
  font-size: 23px;
  padding: 10px;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
}

li,
p {
  font-size: 16px;
  line-height: 24px;
  color: white;
}

p {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

section {
  min-height: 100px;
}

header {
  margin-bottom: 0;
  font-family: 'Philosopher', sans-serif;
}

footer {
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 50px;
}

/* NAVIGATION */
.nav-bar {
  background: rgba(61, 61, 61, 0.5); 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 45px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.nav-bar li a {
  font-size: 18px;
  margin-left: 0;
}

.navbar-toggler {
  width: 100%;
  padding: 8px 15px;
  text-align: left;
  box-sizing: border-box;
  color: #fff;
  font-size: 25px;
  background: none;
  border: none;
  display: none;
}

.desktop {
  text-decoration: none;
  color: rgb(247, 244, 244);
  margin-left: 20px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  text-shadow: 5px 5px 8px black;
}

.about:hover,
.about-title {
  color: rgb(54, 194, 236);
}

.projects:hover,
.projects-title {
  color: rgb(54, 194, 236);
}

.education:hover,
.education-title {
  color: rgb(54, 194, 236);
}

.abilities:hover,
.abilities-title {
  color: rgb(54, 194, 236);
}

.contact:hover,
.contact-title {
  color: rgb(54, 194, 236);
}


/* HEADER */
.intro-text {
  color: white;
  text-shadow: 5px 5px 8px black;
  text-align: center;
}

.headline {
  font-size: 6vw;
  display: block;
}

.headshot {
  height: 50%;
  width: 50%;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px black;
}
/* ABOUT ME */

.bio-opener {
  font-size: 4vw;
  line-height: 1.3em;
  font-style: italic;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 10px;
}

.bio-paragraphs {
  margin-bottom: 20px;
  text-align: center;
}

/* PROJECTS */
.project-photo {
  width: 80%;
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
}

.project-divider {
  background-color: rgb(249, 249, 249);
  height: 3px;
}

.project-description {
  text-align: center;
}

.divider-text {
  font-family: 'Philosopher', sans-serif;
}

.project-links {
  margin-bottom: 10px;
}

.live-text {
  color: rgb(250, 246, 246);
  font-size: 20px;
}

.devicon-github-plain-wordmark {
  text-decoration: none;
  font-size: 35px;
}

.project-links a {
  text-decoration: none;
}

.project-links a:hover {
  color: rgb(248, 144, 107);
}

.technology-badges {
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 5px 5px 10px black;
}

/* ABILITIES */
.abilities-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.devicon-git-plain,
.devicon-visualstudio-plain,
.devicon-html5-plain,
.devicon-css3-plain,
.devicon-javascript-plain,
.devicon-jquery-plain,
.devicon-nodejs-plain,
.devicon-github-plain,
.devicon-msoffice-plain,
.devicon-photoshop-plain,
.devicon-premiere-plain,
.devicon-protools-plain,
.devicon-stata-plain,
.devicon-eviews-plain {
  font-size: 40px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.devicon-msoffice-plain,
.devicon-photoshop-plain,
.devicon-premiere-plain,
.devicon-protools-plain,
.devicon-stata-plain,
.devicon-eviews-plain {
  height: 40px;
  width: 40px;
}

.devicon-eviews-plain {
  height: 36px;
  width: 36px;
  margin-top: 3px;
}


.skills-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

/* CONTACT ME */
.contact-flex-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contact-flex-container a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-left: 25%
}

.contact-flex-container a span {
  font-size: 20px;
  margin-left: 5px;
  padding-top: 5px;
  color: white;
}

.contact-flex-container a span:hover {
  color: rgb(54, 194, 236);
}

.contact-icon {
  height: 35px;
  width: 35px;
}

/* ------------------------------MEDIA QUERIES---------------------------- */

@media (min-width: 650px) {
  main {
    display: flex;
    justify-content: center;
    background-color: transparent;
    font-size: 20px;
  }

  .main-flex-container {
    width: 1200px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 27px;
  }

  p {
    font-size: 25px;
  }

  footer {
    margin-bottom: 0px;
  }

  /* NAVIGATION */
  .nav-bar {
  height: 60px;
}

.nav-bar ul {
  padding-top: 20px;
}

.nav-bar li a {
  font-size: 23px;
}

  /* SECTIONS */
  .headline {
    font-size: 50px;
  }


  /* ABOUT ME */
  .headshot {
    display: block;
    height: 100%;
    margin-left: 40px;
    margin-top: 30px;
    width: 350px;
  }

  .intro-flex-container {
    display: flex;
    flex-direction: column;
  }

  .headshot-container {
    display: flex;
    flex-direction: row;
  }

  .bio-paragraphs {
    display: flex;
    flex-direction: row;
  }

  .bio1 {
    width: 50%;

  }

  .bio2 {
    border-left: solid 2px rgb(247, 245, 245);
    width: 50%;
  }

  .bio-opener {
    margin: 20px;
    padding-top: 15%;
    font-size: 25px;
  }

  .extra-bio {
    display: block;
  }

  .intro-flex-container h3 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .bio {
    padding-top: 20px;
    width: 50%;
    text-align: left;
  }

  /* PROJECTS */
  .project-flex-container h3 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .project-photo {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .project-photo-container {
    display: flex;
    align-items: center;
    width: 50%;
  }

 .project-description {
    text-align: left;
    font-size: 25px;
    padding-right: 5px;
    margin-bottom: 10px;
  }

  .project-description p {
    font-size: 20px;
  }


  .project-inner-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .project-description-container {
    border-right: solid 2px rgb(247, 243, 243);
   
    width: 50%;
    padding-bottom: 60px;
  }

  .project-links {
    margin-bottom: 10px;
    margin-top: 55px;
    
    bottom: 0;
    width: 100%;
  }

  .live-text {
    font-size: 25px;
  }

  .devicon-github-plain-wordmark {
    font-size: 60px;
  }

  .technology-badges {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  /* EDUCATION */
 .education-container li {
   font-size: 25px;
 }

  /* ABILITIES */
  .abilities-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
  }

  /* CONTACT ME */
  .contact-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 10px;
    flex-wrap: wrap;
  }

  .contact-flex-container a {
    margin: 0;
  }
}

@media (max-width: 450px) {
.navbar-toggler {
    display: block;
    cursor: pointer;
  }

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-bar ul {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.nav-bar li {
  width: 100%;
  margin-left: 15px;
  text-align: left;
  background: rgba(61, 61, 61, 0.8); 
  border: none;
}

.nav-bar a {
  display: block;
}

  }

